
* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu Thin', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 15% 45%;
}